# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model and data files
*.pkl
*.joblib
*.h5

# Dataset files
dataset/*.csv

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
